<%=provide(:title, "Mon compte")%>

<h1>Mon profil</h1>

  <% if @user.first_name.nil? && @user.last_name.nil? && @user.address.nil? %>
    <p>Merci de compléter votre profil <%= link_to "Go !", edit_user_path(current_user.id) %></p>
  <%else%>
    <p><%= @user.try(:last_name)%></br>
    <%= @user.try(:first_name)%></br>
      <%if @user.try(:@masculin) %>
        Masculin</br>
      <%else%>
        Féminin</br>
      <%end%>
    <%=link_to "Modifier mes informations", edit_user_path(current_user.id)%>

  <%end%>
<%= @user.try(:address)%></br></p>

<hr>

<h2>Mes comptes</h2>

<div>
  <ul>
  <% @accounts.each do |account| %>
    <li><%= account.try(:title) %></br>
        <%= account.try(:identifier) %></li> 
  <%end%>
  </ul>
</div>


<%=link_to "Créer un nouveau compte", new_path %>