<h1>Nouveau compte</h1>

<p>Entrez le libellé de votre nouveau compte, un identifiant lui sera automatiquement attribué.</p>

<%=form_for (@compte) do |f|%>
  <%=f.label :Libellé%>
  <%=f.text_field :libelle%>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Submit"  %> 
<%end%>